
/* *--GENERICS--* */

body {
    padding-top: 100px;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

footer a {
    color: white;
}


/* *--HEADER--* */

.top-header {
    height: 40px;
}

header {
    color: white;
    background-color: black;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100px;
    box-shadow: 0px 2px 5px grey;
}

/* *--HEADER IMAGES--* */

#sony-logo {
    width: 75px;
}

.playlogo {
    width: 70px;
}

#lente {
    height: 30px;
    cursor: pointer;
}

.dropdown-menu img {
    width: 120px;
    height: 100px;
}

header a:hover {
    filter: opacity(.7);
}

#access:hover {
    outline: 2px solid rgb(255, 255, 255);
    outline-offset: -5px;
    transition: all 300ms linear;
}

/* *--MICRO CORRECTION ON DROPDOWN TOGGLE--* */

.dropdown-toggle::after {
    transform: translateY(3px);
}

/* *--RETURNAL JUMBO--* */

#top-jumbotron {
    padding-top: 200px;
    background: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#top-jumbotron h1 {
    font-size: 2.5rem;
}

.btn-jumbo {
    background-color: #CD3D0F;
    color: white;
}

/* *--GENERICS FOR BUTTONS AND HOVER EFFECTS--* */

section .btn:hover {
    outline: 2px solid rgb(255, 255, 255);
    outline-offset: -5px;
    transition: all 300ms linear;
}

#nolimits .btn {
    font-weight: 500;
}

#ps-plus .btn {
    background-color: #D9DADC;
    color: #2D64E5;
    font-weight: 500;
}

/* *--OVERLAY EFFECT ON HOVER--* */

.half-visible {
    filter: opacity(.6);
}

#nolimits .overlay:hover {
    filter: opacity(1);
    border-bottom: 1px solid blue;
}

/* *--HOVER EFFECT ON CARD BELOW MAIN JUMBOTRON--* */

.lift:hover {
    transform: translateY(-20px);
    transition: all 300ms ease-out;
}

/* *--NO LIMITS SECTION--* */

#nolimits p {
    font-size: 1.2rem;
    font-weight: 500;
}

#nolimits h2 {
    font-size: 2.8rem;
}

#nolimits {
    margin-top: 100px;
}

/* *--MIDDLE JUMBOTRON-- // IT TAKES TWO //* */

#middle-jumbotron {
    background: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    min-height: 650px;
}

#middle-jumbotron h1 {
    font-size: 2.5rem;
}

/* *--NEW GAMES SECTION--* */

#new-games p {
    font-size: 1.7rem;
}

#new-games span {
    font-size: 1.2rem;
}

#new-games h2 {
    font-size: 2rem;
}

#new-games img {
    cursor: pointer;
}

/* *--EXPLORE SECTION--* */

#explore p {
    font-size: 1.4rem;
    line-height: 1.2;
    color: rgb(104, 104, 104);
    font-weight: 500;
}

/* *--PS PLUS SECTION--* */

#ps-plus {
    background-color: #BEBCBB;
    height: 300px;
}

#ps-plus .ps-plus-logo {
    width: 65%;
}

/* *--PS STORE SECTION--* */

#ps-store h2 {
    font-size: 2.5rem;
}

#ps-store p {
    font-size: 1.5rem;
    line-height: 1;
    color: rgb(104, 104, 104);
}

/* *--PS NOW SECTION--* */

#ps-now img {
    width: 65%;
}

#ps-now {
    background-color: #161C3B;
    height: 300px;
}

/* *--SOCIAL SECTION--* */

#social{
    height: 350px;
}

.r2{
    font-size: 2rem;
}

            /* *--FOOTER--* */
/* *MI SONO PERMESSO TI RITOCCARE IL FOOTER CAMBIANDO I LINK DELLE LISTE* */

footer {
    background-color: #00439C;
}

footer .ps-logo {
    width: 80px;
}

footer .sie-logo {
    width: 150px;
}