* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 120px;
}

img {
    width: 100%;
}

nav {
    box-shadow: 0px 2px 10px grey;
}

a {
    text-decoration: none;
}

#sony-logo {
    width: 75px;
}

header {
    color: white;
    background-color: black;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100px;
}

#lente{
    width: 30px;
}

#chevron{
    width: 12px;
}

ul {
    list-style: none;
}

footer a {
    color: white;
}

.top-jumbotron {
    padding-top: 200px;
    background: url(/img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.btn-jumbo {
    background-color: #CD3D0F;
    color: white;
}

section .btn:hover {
    outline: 2px solid rgb(128, 125, 125);
    outline-offset: -5px;
    transition: all 300ms linear;
}

.lift:hover {
    transform: translateY(-20px);
    transition: all 300ms ease-out;
}

.nolimits p {
    font-size: 1.2rem;
    font-weight: 500;
}

.nolimits h2 {
    font-size: 2.8rem;
}

section.nolimits {
    margin-top: 100px;
}

section.nolimits .overlay:hover {
    filter: opacity(1);
    border-bottom: 1px solid blue;
}

.half-visible {
    filter: opacity(.6);
}

section.nolimits .btn {
    font-weight: 500;
}

.top-jumbotron h1 {
    font-size: 2.5rem;
}

section.middle-jumbotron {
    background: url(/img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

section.middle-jumbotron h1 {
    font-size: 2.5rem;
}

section.new-games p {
    font-size: 1.7rem;
}

section.new-games span {
    font-size: 1.2rem;
}

section.new-games h2 {
    font-size: 2rem;
}


section.explore h2 {
    font-size: 2rem;
}

section.explore p {
    font-size: 1.4rem;
    line-height: 1.2;
    color: rgb(104, 104, 104);
    font-weight: 500;
}

section.ps-plus .btn {
    background-color: #D9DADC;
    color: #2D64E5;
    font-weight: 500;
}

section.ps-plus {
    background-color: #BEBCBB;
    height: 300px;
}

section.ps-plus .ps-plus-logo {
    width: 65%;
}

section.ps-now {
    background-color: #161C3B;
}

section.ps-store h2 {
    font-size: 2.5rem;
}

section.ps-store p {
    font-size: 1.5rem;
    line-height: 1;
    color: rgb(104, 104, 104);
}

section.ps-now img {
    width: 65%;
}

section.social h2 {
    font-size: 2rem;
}

footer {
    background-color: #00439C;
}

footer .ps-logo {
    width: 80px;
}

footer .sie-logo {
    width: 150px;
}